<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<style>
    .custom-select {
        min-height: 61px;
        padding: 10px;
        padding-left: 25px;
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
        font-size: 16px;
        color: #000;
        font-weight: 400;
        border-radius: 10px;
        background-color: #FFF;
        width: 100%;
        border: none;
        outline: none;
        background: url(../images/icons/custom-select-bg.svg);
        background-position-x: 98%;
        background-position-y: center;
        background-repeat: no-repeat;
        text-align: left;
    }

    .custom-select:is(:hover, :focus) {
        outline: 1px solid blue;
    }

    .custom-select:not(.selected) {
        color: rgba(132, 132, 132, 0.6);
    }

    .custom-select-group {
        position: relative;
    }

    .custom-select-option {
        list-style-type: none;
        padding: 0;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        background-color: #FFF;
        position: absolute;
        top: 70px;
        overflow-y: scroll;
        width: 100%;
        display: none;
        max-height: 270px;
    }

    .custom-select-option::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-select-option.active {
        display: block;
    }

    .custom-select-option button {
        font-weight: 400;
        color: #848484;
        padding: 12px 15px;
        border-block: 1px solid rgba(181, 181, 181, 0.5);
        transition: all 250ms ease;
        text-align: left;
        display: block;
        width: 100%;
    }

    .custom-select-option button:is(:hover, :focus),
    .custom-select-option button.selected {
        background-color: #e7e7e7;
        color: red;
        font-weight: 500;
    }

    .custom-select-option li:nth-of-type(1) button {
        padding-top: 15px;
        border-top: none;
    }

    .custom-select-option li:nth-last-of-type(1) button {
        border-bottom: none;
        padding-bottom: 15px;
    }
</style>

<select  data-custom-select name="country" id="country_select">
    <option value="US">USA</option>
    <option value="UK">UK</option>
    <option value="VALUE">TEXT</option>
</select>

<script>
    function customSelect() {
        const selects = $("[data-custom-select]");
        selects.hide();

        selects.each(function () {
            const $select = $(this);
            const $group = $("<div>").addClass("custom-select-group").attr("data-name", $select.attr("name"));
            const placeholderText = $select.attr("placeholder") || "Select Option";
            const $button = $("<button>").addClass("custom-select").text(placeholderText).attr("type", "button");
            const $listGroup = $("<ul>").addClass("custom-select-option");

            $select.find("option").each(function () {
                const $option = $("<li>").append($("<button>").attr("type", "button").text($(this).text()));
                $listGroup.append($option);
            });

            $group.append($button).append($listGroup);
            const $el = $("<input>").attr({ type: "hidden", name: $select.attr("name"), id: $select.attr("id") });
            $group.prepend($el);
            $select.parent().append($group);

            $button.click(function (e) {
                e.preventDefault();
                const $options = $(this).next();
                $options.toggleClass("active").toggle();
            });

            const updateOption = (_this) => {
                const $options = $group.find(".custom-select-option");
                $options.find("button").removeClass("selected");
                _this.addClass("selected");
            };

            $listGroup.on("click", "button", function (e) {
                e.preventDefault();
                const $selectGroup = $(this).closest(".custom-select-group");
                const $button = $selectGroup.find(".custom-select");
                const $optionGroup = $selectGroup.find(".custom-select-option");
                const $input = $selectGroup.find("input");
                updateOption($(this));
                $button.addClass('selected').text($(this).text());
                $input.val($(this).text());
                $optionGroup.hide();
            });

            $listGroup.find("li:nth-last-of-type(1) button").blur(function () {
                $(this).closest(".custom-select-option").hide();
            });

        });

        $(document).on("click", function (event) {
            const $buttons = $(".custom-select");
            const $options = $(".custom-select-option");
            if (!$(event.target).closest($buttons).length) {
                $options.hide();
            }
        });

        selects.remove();
    }

    customSelect();
</script>