@media only screen and (max-width: 1660px) {}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1360px) {}

@media only screen and (max-width: 1240px) {}

@media only screen and (max-width: 1170px) {}

@media only screen and (max-width: 992px) {
    :root {
        --font-controller: 2px;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --section-padding: 40px 0; 
        --font-controller: 3px;
    }
}

@media only screen and (max-width: 580px) {
}

@media only screen and (max-width: 480px) {
    :root {
        --font-controller: 3.5px;
    }
}