@media only screen and (max-width: 1660px) {}

@media only screen and (max-width: 1360px) {}

@media only screen and (max-width: 1240px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 767px) {
    .span-two {
        grid-column: span 1;
    }
}

@media only screen and (max-width: 480px) {}