/**==== OTHER CSS INCLUDE ====*/
@import url(libs.css);
@import url(variables.css);
/**==== OTHER CSS INCLUDE ====*/

/**==== RESETS START ====*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-primary);
}

section {
    padding: var(--section-padding);
}

input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}


/* scoll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

img {
    max-width: 100%;
}

button {
    background: none;
    outline: none;
}


button:focus {
    outline: none !important;
}

ul,
ol {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin-bottom: .5em;
    color: var(--clr-neutral-700);
}

p {
    color: var(--fc-neutral-400);
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: normal;
}

:disabled {
    background: gray !important;
}

button,
input {
    outline: none;
    border: none;
}

label {
    display: block;
}

input {
    width: 100%;
}

/* CUSTOM DOTS START*/

.slick-dots li {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li button {

    --_size: 16px;
    display: block;
    background: #D9D9D9;
    height: var(--_size);
    width: var(--_size);
    border-radius: 100%;

    margin: 0 2px;
    padding: 0;

    transition: width 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center;
}

.slick-dots li.slick-active button {
    background: var(--clr-primary);
}

.slick-dots li.slick-active~li button {
    --_size: 14px;
}

.slick-dots li.slick-active~li:last-child button {
    --_size: 12px;
}

/* CUSTOM DOTS END */

/**==== RESETS END ====*/


/**==== GLOBAL CSS START ====*/
/* INPUT CSS START */
.form__wrap {
    --input-height: 57px;
    --input-bd-radius: 8px;
    --input-bd: none;
    --input-bg: rgba(29, 37, 87, 0.03);
    --input-padding: 10px;
    --input-width: 100%;
    --input-display: block;

    --form-grid-template: repeat(2, 1fr);
    --form-grid-gap: 30px;

    --input-wrap-margin: 0 0 30px;

    --text-area-height: 181px;

    --label-mb: 10px;
    --label-display: block;
}

@media screen and (max-width: 767px) {
    .span-two {
        grid-column: span 1;
    }
}

.form__grid {
    display: grid;
    grid-template-columns: var(--form-grid-template);
    column-gap: var(--form-grid-gap);
}

.form__wrap label {
    color: var(--clr-primary);
    font-size: var(--fs-18);
    font-weight: 600;
    line-height: 135%;
    margin: var(--label-mb);
    display: var(--label-display);
}

.form__wrap input,
.form__wrap select,
.form__wrap textarea {
    min-height: var(--input-height);
    border-radius: var(--input-bd-radius);
    border: var(--input-bd);
    background: var(--input-bg);
    padding: var(--input-padding);
    width: var(--input-width);
    display: var(--input-display);
}

.form__wrap textarea {
    height: var(--text-area-height);
}

.input__wrap {
    margin: var(--input-wrap-margin);
}

/* INPUT CSS END */

.hidden {
    display: none;
}

.span-two {
    grid-column: span 2;
}

.error {
    outline: 2px solid red;
}

.border-right {
    border-right: 1px solid var(--fc-accent);
    padding-right: 10px;
}

.border-right+* {
    padding-left: 10px;
}

.no-padding {
    padding: 0 !important;
    padding-block: 0;
    padding-inline: 0;
}


.bg-primary {
    background-color: var(--clr-primary) !important;
}

.bg-primary-300 {
    background-color: var(--clr-primary-300) !important;
}

.bg-accent {
    background-color: var(--fc-accent) !important;
}

.bg-white {
    background: #FFF !important;
}

.bg-black {
    background: #000 !important;
}

.clr-accent {
    color: var(--fc-accent);
}

.clr-white {
    color: #FFF;
}

.clr-primary {
    color: var(--clr-primary);
}

.clr-primary-300 {
    color: var(--clr-primary-300);
}



.fc-neutral-700 {
    color: var(--fc-neutral-700);
}

.fc-neutral-400 {
    color: var(--fc-neutral-400);
}

.fc-secondary {
    color: #646363;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-16 {
    font-size: var(--fs-16) !important;
}

.fs-18 {
    font-size: var(--fs-18) !important;
}

.fs-20 {
    font-size: var(--fs-20) !important;
}

.fs-22 {
    font-size: var(--fs-22) !important;
}

.fs-24 {
    font-size: var(--fs-24) !important;
}

.fs-25 {
    font-size: var(--fs-25) !important;
}

.fs-30 {
    font-size: var(--fs-30) !important;
}

.fs-35 {
    font-size: var(--fs-35) !important;
}

.fs-40 {
    font-size: var(--fs-40) !important;
}

.fs-45 {
    font-size: var(--fs-45) !important;
}

.fs-50 {
    font-size: var(--fs-50) !important;
}

.fs-55 {
    font-size: var(--fs-55) !important;
}

.btn-lg {
    width: 100%;
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-60 {
    gap: 60px;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space {
    justify-content: space-between;
}

.util__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .util__panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

/**==== GLOBAL CSS END ====*/

/**==== PROJECT UTILITES START ====*/

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: normal;
}

.clr-secondary {
    color: var(--clr-secondary);
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: normal;
    transition: all 250ms ease;
}


.btn-primary {
    outline: none;
    border: none;
}

.btn-primary:focus,
.btn-primary {
    outline: none !important;
    color: var(--fc-accent) !important;
    background: var(--clr-primary) !important;
}

.btn-primary:hover {
    outline: 1px solid var(--clr-primary) !important;
    /* color: var(--clr-neutral-700) !important; */
    color: var(--clr-primary) !important;
    background: #cdd2e0 !important;
}

.small__heading {
    color: var(--clr-neutral-700);
    font-size: var(--fs-24);
    font-weight: 700;
    line-height: normal;
}

.loader {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section__label {
    color: var(--clr-primary-300);
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.section__heading {
    font-size: var(--fs-45);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.section__text .section__label {
    margin-bottom: 0;
}

.section__text {
    margin-bottom: 50px;
}

.section__text.small {
    max-width: 499px;
    width: 100%;
    margin-inline: auto;
}



.grey__main {
    padding: 50px 0;
    background: #FAFAFA;
}


/**==== PROJECT UTILITES END ====*/
