/**==== OTHER CSS INCLUDE ====*/
@import url(libs.css);
@import url(variables.css);
/**==== OTHER CSS INCLUDE ====*/

/**==== RESETS START ====*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-primary);
}

section {
    padding: var(--section-padding);
}

input[type='number']::-webkit-inner-spin-button {
    appearance: none;
}


/* scoll bar */
::-webkit-scrollbar {
    width: 8px;
    /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #70B3F2 0%, #4437FF 100%);
    opacity: 0.8;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

::-webkit-scrollbar-track-piece {
    background-color: #e0e0e0;
}

::-webkit-scrollbar-corner {
    background-color: #f0f0f0;
}


img {
    max-width: 100%;
}

button {
    background: none;
}

ul,
ol {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin-bottom: .6em;
}

button:disabled {
    background: gray !important;
}

button,
input {
    outline: none;
    border: none;
}

label {
    display: block;
}

input {
    width: 100%;
}

/* CUSTOM DOTS START*/

.slick-dots li {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li button {
    display: block;
    background: var(--_dots__bg);
    height: 11px;
    width: 11px;
    border-radius: 100%;

    margin: 0 5px;
    padding: 0;

    transition: width 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center;
}

.slick-dots li.slick-active button {
    width: 63px;
    border-radius: 7px;
}

/* CUSTOM DOTS END */

/**==== RESETS END ====*/


/**==== GLOBAL CSS START ====*/
/* INPUT CSS START */
.form__wrap {
    --input-height: 55px;
    --input-bd-radius: 10px;
    --input-bd: 1px solid rgba(221, 221, 221, 0.87);
    --input-bg: #FFF;
    --input-padding: 10px;
    --input-width: 100%;
    --input-display: block;

    --form-grid-template: repeat(2, 1fr);
    --form-grid-gap: 30px;

    --input-wrap-margin: 0 0 30px;

    --text-area-height: 181px;

    --label-mb: 10px;
    --label-display: block;
}

@media screen and (max-width: 767px) {
    .span-two {
        grid-column: span 1;
    }
}

.form__grid {
    display: grid;
    grid-template-columns: var(--form-grid-template);
    column-gap: var(--form-grid-gap);
}

.form__wrap label {
    color: var(--clr-primary);
    font-size: var(--fs-18);
    font-weight: 600;
    line-height: 135%;
    margin: var(--label-mb);
    display: var(--label-display);
}

.form__wrap input,
.form__wrap select,
.form__wrap textarea {
    height: var(--input-height);
    border-radius: var(--input-bd-radius);
    border: var(--input-bd);
    background: var(--input-bg);
    padding: var(--input-padding);
    width: var(--input-width);
    display: var(--input-display);
}

.form__wrap textarea {
    height: var(--text-area-height);
}

.input__wrap {
    margin: var(--input-wrap-margin);
}

/* INPUT CSS END */

.hidden {
    display: none;
}

.span-two {
    grid-column: span 2;
}

.error {
    outline: 2px solid red;
}


.btn-lg {
    width: 100%;
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space {
    justify-content: space-between;
}

.util__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .util__panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

/**==== GLOBAL CSS END ====*/

/**==== PROJECT UTILITES START ====*/

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}


.container__csWidth {
    max-width: 1310px;
}

.clr-secondary {
    color: var(--clr-secondary);
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}


.btn-primary {
    outline: none;
    border: none;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary {
    outline: none !important;
    color: #FFF !important;
    background: var(--clr-secondary) !important;
}

/**==== PROJECT UTILITES END ====*/