/**--- OTHER CSS INCLUDE ---*/
@import url(libs.css);
@import url(variables.css);
/**--- OTHER CSS INCLUDE ---*/


/**--- RESETS START ---*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(.no-focus-reset):where(:focus) {
    outline: none;
    border-bottom: 1px solid currentColor;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}


body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-primary);
}

section {
    padding: var(--section-padding);
}

input[type='number'].hide-arrow::-webkit-inner-spin-button {
    appearance: none;
}

/* SCROLL BAR RESET START */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
    background-color: #e0e0e0;
}

/* SCROLL BAR RESET END */
img {
    max-width: 100%;
    height: auto;
}

button {
    background: none;
    outline: none;
    border: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin-bottom: 0;
}

p {
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: normal;
}

::placeholder {
    color: #9D9D9D;
}


:disabled {
    background: gray;
}

input.disabled {
    background: #ddd;
    border: 1px solid #fff;
    cursor: not-allowed;
}

input.disabled:hover {
    box-shadow: none !important;
}

input {
    outline: none;
    width: 100%;
}

label {
    display: block;
}

input[type="checkbox"],
input[type="radio"],
label {
    cursor: pointer;
}


/* SLICK RESET */

.slick-dots li {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li button {
    --_size: 16px;

    display: block;
    background: #D9D9D9;

    height: var(--_size);
    width: var(--_size);

    border-radius: 100%;

    margin: 0 2px;

    padding: 0;

    transition: width 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center;
}

.slick-dots li.slick-active button {
    background: var(--clr-primary);
}

.slick-dots li.slick-active~li button {
    --_size: 14px;
}

.slick-dots li.slick-active~li:last-child button {
    --_size: 12px;
}

.slick-slide {
    height: auto;
}

/* SLICK RESET */


/* LOADER */

*:has(> .loader.center) {
    position: relative;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: none;
    --size: 50px;
    height: var(--size);
    width: var(--size);
    border: calc(var(--size) * .16) solid #f3f3f3;
    border-radius: 100%;
    border-top: calc(var(--size) * .16) solid var(--clr-secondary);
    animation: loader 2s linear infinite;
}

.loader.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LOADER */

/**--- RESETS END ---*/


/**--- CUSTOM LAYOUT CSS START ---*/
.grid-auto-flow-dense {
    grid-auto-flow: dense;
}

.grid {
    display: grid;
}

.grid-column-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-center {
    place-content: center;
}

.flex-1 {
    flex: 1;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-25 {
    gap: 25px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-60 {
    gap: 60px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}


.util__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .util__panel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

/* left || Right Sided Containers */
@media only screen and (min-width: 1200px) {
    .container-left {
        --container-size: 1320px;
        margin-inline: auto;
        margin-right: 0;
        max-width: calc(var(--container-size) + ((100% - var(--container-size)) / 2));
    }
    
    .container-right {
        --container-size: 1320px;
        margin-inline: auto;
        margin-left: 0;
        max-width: calc(var(--container-size) + ((100% - var(--container-size)) / 2));
    }
}

/**--- CUSTOM LAYOUT CSS START ---*/

/**--- UTLITIY CLASSES START ---*/

.btn {
    padding: 1em 2em;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: normal;
    transition: all 250ms ease;
}

.btn:is(:focus) {
    outline: none;
    box-shadow: none !important;
}

.btn-lg {
    width: 100%;
    max-width: 100%;
}


.section_label {
    color: var(--clr-primary-300);
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

.section_heading {
    font-size: var(--fs-45);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.section_text .section_label {
    margin-bottom: 0;
}

.section_text.small {
    max-width: 499px;
    width: 100%;
}

.grey_main {
    padding: 50px 0;
    background: #FAFAFA;
}

.hidden {
    display: none;
}

.column-span-two {
    grid-column: span 2;
}

.row-span-two {
    grid-column: span 2;
}

.error {
    outline: 1px solid red;
}

*:has(> .error_message) {
    position: relative;
}

*:has(> .success_message) {
    position: relative;
}

.error_message {
    position: absolute;
    bottom: -18px;
    left: 10px;
    font-size: 11px;
    color: crimson;
    font-weight: 700;
    display: none;
}

.success_message {
    position: absolute;
    bottom: -18px;
    left: 10px;
    font-size: 11px;
    color: green;
    font-weight: 700;
    display: none;
}

.error+.error_message {
    display: block;
}


.border-right {
    border-right: 1px solid var(--fc-accent);
    padding-right: 10px;
}

.border-right+* {
    padding-left: 10px;
}

@media only screen and (min-width: 1550px) {
    .text-md-nowrap {
        text-wrap: nowrap;
    }
}

.fixed {
    position: fixed;
}

.stickyTop {
    position: fixed;
    top: 0;
}

.absoluteBottom {
    position: absolute;
    bottom: 0;
    top: unset;
}

.lines-count-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lines-count-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.lines-count-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.border-r-2 {
    border-radius: 2rem;
}

.mw-1100 {
    max-width: 1100px;
    width: 100%;
}

.hover-opacity:hover {
    opacity: .8;
}

.hover-underline:hover {
    text-decoration: underline;
}

/* BACKGROUNDS START */

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary) !important;
}

.bg-white {
    background: #FFF;
}

.bg-black {
    background: #000;
}

/* BACKGROUNDS END */

/* FONT FAMILIES START */

.ff-primary {
    font-family: var(--ff-primary);
}

.ff-secondary {
    font-family: var(--ff-secondary);
}

/* FONT FAMILIES END */

/* FONT COLORS START */

.fc-white {
    color: #FFF;
}

.fc-black {
    color: #000;
}

.fc-primary {
    color: var(--clr-primary);
}

.fc-secondary {
    color: var(--clr-secondary);
}

/* FONT COLORS END */

/* FONT WEIGHTS START */

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

/* FONT WEIGHTS END */

/* LINE HEIGHT START */
.lh-normal {
    line-height: normal;
}

.lh-1 {
    line-height: 1;
}

.lh-1-1 {
    line-height: 1.1;
}

.lh-1-2 {
    line-height: 1.2;
}

.lh-1-3 {
    line-height: 1.3;
}

.lh-1-4 {
    line-height: 1.4;
}

.lh-1-5 {
    line-height: 1.5;
}

/* LINE HEIGHT END */


/* FONT SIZES START */

.fs-10 {
    font-size: var(--fs-10);
}

.fs-11 {
    font-size: var(--fs-11);
}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-13 {
    font-size: var(--fs-13);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-35 {
    font-size: var(--fs-35);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-55 {
    font-size: var(--fs-55);
}

.fs-60 {
    font-size: var(--fs-60);
}

.fs-65 {
    font-size: var(--fs-65);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-90 {
    font-size: var(--fs-90);
}

.fs-100 {
    font-size: var(--fs-90);
}

/* FONT SIZES END */
/**--- UTLITIY CLASSES END ---*/