:root {
    --ff-primary: 'Plus Jakarta Sans', sans-serif;

    --clr-primary: #114084;
    --clr-primary-300: #3466AA;

    --fc-neutral-700: #1C1C1C;
    --fc-neutral-400: #856363;

    --fc-accent: #FFF;
    
    --section-padding: 65px 0;

    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-30: 30px;
    --fs-35: 35px;
    --fs-45: 45px;
    --fs-40: 40px;
    --fs-50: 50px;
    --fs-55: 55px;
    --fs-60: 60px;
}
