:root {
    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --ff-secondary: system-ui;

    --clr-primary: #114084;
    --clr-secondary: #000;

    --clr-grey-400: #FAFAFA;
    --clr-grey-500: #F7F7F7;
    --clr-grey-600: #EBEBE4;
    --clr-grey-650: #B5B5B3;
    --clr-grey-700: #555;

    --section-padding: 65px 0;

    --fs-10: 10px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: clamp(14px, 3vw, 15px);
    --fs-16: clamp(14px, 3vw, 16px);
    --fs-18: clamp(14px, 3vw, 18px);
    --fs-20: clamp(18px, 3vw, 20px);
    --fs-22: clamp(20px, 3vw, 22px);
    --fs-24: clamp(16px, 5vw, 24px);
    --fs-25: clamp(17px, 5vw, 25px);
    --fs-30: clamp(24px, 5vw, 30px);
    --fs-35: clamp(26px, 5vw, 35px);
    --fs-45: clamp(28px, 5vw, 45px);
    --fs-40: clamp(28px, 5vw, 40px);
    --fs-50: clamp(30px, 5vw, 50px);
    --fs-55: clamp(32px, 5vw, 55px);
    --fs-60: clamp(32px, 5vw, 60px);
    --fs-65: clamp(35px, 5vw, 65px);
    --fs-70: clamp(35px, 5vw, 70px);
    --fs-80: clamp(35px, 5vw, 80px);
    --fs-90: clamp(38px, 10vw, 90px);
    --fs-100: clamp(38px, 10vw, 100px);
}